<div>
    <h3>Your order</h3>
    <table ng-show="cartList.items.length > 0" class="table table-hover" cellpadding="0" cellspacing="0">
        <thead>
        <tr>
            <td>Title</td>
            <td>Quantity</td>
            <td>Price</td>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in cartList.items">
            <td>{{item.productTitle}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.quantity + ' x ' + item.pricePerProduct + ' = ' + item.price}}</td>
        </tr>
        <tr>
            <td>Total</td>
            <td></td>
            <td>{{cartList.totalPrice}}</td>
        </tr>
        </tbody>
    </table>

    <form novalidate ng-submit="submitOrder()">
        <div class="form-group col-md-6">
            <label for="orderAddress">Delivery address</label>
            <input class="form-control" type="text" ng-model="order_info.address" id="orderAddress">
        </div>
        <div>
            <button class="btn btn-success" type="submit">Make an order</button>
        </div>
    </form>
</div>